{% extends 'shop/header.html' %}

{% block content %}
{% csrf_token %}
    <div class="container">
        <h3>Список11</h3>
        <div class="productList" style="display: flex;
        flex-direction: row;">
            {% for p in products %}
                <div class="productContainer">
                    <p>{{ p.name }}</p>
                    <p>{{ p.price }}</p>
                    <button value="{{ p.id }}">В корзину</button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
